.container {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 32px;
}

@media (max-width: 767px) {
  .container {
    width: 100vw;
    padding: 16px;
    flex-direction: column;
    margin-top: 0;
  }
}
