.profileDropdown{
    right: 0;
width: 192px;
border-radius: 12px;
background: #FFFFFF;
border: 1px solid #E0E0E0;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
padding: 12px;
position: absolute;
top: 55px;
z-index: 1;}


.dropdownLink{
    margin-bottom: 16px;
    color: #4F4F4F;
    display: flex;
    align-items: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}

.dropdownLink:hover{
    background: #F2F2F2;
}

.dropdownLink > span{
    padding-right: 16px;
    color: #4F4F4F;
}

.logout{
    border-top: 1px solid #E0E0E0;
    margin-top: 7px;
    margin-bottom: 7px;
   padding-top: 7px;
   color: #EB5757;
}

.logout > span{
    color: #EB5757;
}

@media (max-width: 767px){
    .profileDropdown{
        right: 8px;
    }
}