.header {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-around;
  flex-basis: content;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
.homePage {
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  height: 100%;
}

.navLink {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  color: #828282;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLink.active {
  color: #2f80ed;
}

.appName {
  height: 27px;
  width: 70px;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.035em;
}

.userProfile {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.userSummary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userImage {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 16px;
}

.username {
  font-family: Noto Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: #333333;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .tweeterMobile {
    display: none;
  }
}

@media (max-width: 767px) {
  .navBar {
    display: none;
  }
  .tweeter {
    display: none;
  }
  .header {
    height: 50px;
    justify-content: space-between;
  }
  .username {
    display: none;
  }
}
