.linkCard {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px 0px 0px 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  height: 220px;
}

.link {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  margin-bottom: 25px;
  color: #828282;
}

.link.active {
  color: #2f80ed;
}
