.suggestedUsers {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 25px;
}

.suggestedUsers > p {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: #4f4f4f;
  margin-bottom: 16px;
}
