.profileCard {
  width: 70vw;
  height: 200px;
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 2px 4px 0px #0000000d;
  border-radius: 12px;
}

.profileImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.userName {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #333333;
  margin-right: 16px;
}

.followButton {
  height: 32px;
  width: 101px;
  border-radius: 4px;
  background: #2f80ed;
  border-style: none;
  border-color: #2f80ed;
  color: #ffffff;
}

.amount {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
}

.stats {
  color: #333333;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin-right: 16px;
}

.about {
  font-family: Noto Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  color: #828282;
  margin-top: 20px;
}

.flexDisplay {
  display: flex;
  align-items: center;
}

.Bio {
  width: 60%;
}

@media (max-width: 767px) {
  .profileCard {
    text-align: center;
    margin: initial auto;
    height: fit-content;
    padding: 16px;
    display: flex;
    flex-direction: column;
  }
  .profileImage {
    margin: auto;
  }
  .Bio {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .followButton {
    bottom: 50%;
  }

  .userName {
    display: block;
  }

  .flexDisplay {
    display: block;
  }

  .about {
    margin-bottom: 8px;
    font-size: 12px;
    margin-top: 8px;
  }

  .stats {
    display: inline;
    margin-right: 8px;
  }

  .userName {
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
}
}

@media (max-width: 820px){
.container{
  width: 95vw;
}
}